<footer class="site-footer">
  <nav class="bottom-nav">
    <a href="/duas"><i class="fa-solid fa-hands-praying"></i></a>
    <a href="/sunnas"><i class="fa-solid fa-star-and-crescent"></i></a>
    <a href="/emotional"><i class="fa-solid fa-heart"></i></a>
    <a href="/suras"><i class="fa-solid fa-book-quran"></i></a>
    <a href="/hadiths"><i class="fa-solid fa-scroll"></i></a>
  </nav>
</footer>
